/Numbers.xcodeproj/project.xcworkspace/xcuserdata/miguelgoni.xcuserdatad/UserInterfaceState.xcuserstate
/.DS_Store
.DS_Store
/Numbers.xcodeproj/project.xcworkspace/xcuserdata/michelgoni.xcuserdatad/UserInterfaceState.xcuserstate
